.MI{
    width: 150px;
    background-color: teal;
    font-size: 18px;;
    position: absolute;
    color: white;
    text-align: center;
    margin-top: -20px;
}
@media screen and (max-width: 768px) {
    .navbar-nav{
        flex-direction: row;
    }
    .nav-item{
        margin-left: 10px;
    }
    .img{
        width: 150px;
    }
    .row{
        flex-wrap: nowrap;
    }
}    
@media screen and (max-width: 640px) {
    .img{width: 100%;
    }
    .cb{
        padding-bottom: 100px;
    }
    .rr,
    .IR{
        margin-left: 0;
    }
    .tc{
        margin-left: 0 !important;
        max-width: 640px !important ;
    }
    .container-fluid{
        padding-bottom: 0px;
        background-color: teal;
    }
    .navbar-brand{
        width: 680px !important;
        text-align: center;
        margin-left: 0;
        margin-right: 0;
    }
    .navbar-nav{
        flex-direction: row;
        margin: 0 auto !important;
        text-align: center;
        max-width: 400px;
        width: 100%;
    }
    .nav-item{
        text-align: center;
        margin:auto !important;
    }
    .ri{
        width: 100%;
        margin-top: 20px;
    }
    .MI{
        width: 94.117647058%;
        font-size: 40px;
        margin-top: -60px;
    }
    .row{
        flex-wrap: wrap;
    }
    a{
        font-size: 20px;
    }
 }  