@media screen and (max-width: 640px) {
    .img{width: 100%;
    }
    .cb{
        padding-bottom: 100px;
    }
    .navbar{
        background-color: teal !important;
    }
    .container-fluid{
        padding-bottom: 0px;
        background-color: teal;
    }
 }  